@charset "UTF-8";



*{
    font-family: "나눔고딕";
}


html, body{
    margin: 0 0;
    padding: 0 0;
    min-height: 100%;
}

div{
    box-sizing: border-box;
}


.contents{
    display: flex;
    flex-direction: column;
    /*background-color: #a9a4b2;*/
    margin: -129px auto -190px auto;
    max-width: 1320px;
    min-height: 100%;
    padding: 129px 30px 0px 30px;
    font-size: 16px;
}

.contentsHeader{
    /*background-color: #7db0e8;*/
    margin: 0;
    padding-top: 32px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentsMain{
    /*padding: 30px 20px 30px 20px;*/
    /*background-color: #98ddea;*/
    flex-grow: 1;
    min-height: 350px;
}


h1{
    margin-top: 0px;
    margin-bottom: 5px;
}


